.array-container {
    position: absolute;
    left: 100px;
    /* top: 100px; */
  }
  
  .array-bar {
    width: 10px;
    background-color: turquoise;
    display: inline-block;
    margin: 0 1px;
  }
  